h2{
    color: white;
    font-size: 24px;
    margin-top: 110px;
    margin-left: 20px;
    letter-spacing: 2px;
}
.checkout-page{
    color: white;
    font-size: 18px;
    height: 1130px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 20px;
    padding: 10px;
}
.checkout-page .billing-detail{
    margin-top: 20px;
    width: 60%;
    margin-left:50px;
    height: 1080px;
    background: #13131a;
    border: 1px solid khaki;
}
.checkout-page .billing-detail h4{
    color: black;
    background: khaki;
    text-transform: uppercase;
    padding: 5px;
    display: block;
}
.checkout-page .checkout-form .from-group{
    margin: 10px 5px;
    width: calc(100% - 10px);
}
.checkout-page .checkout-form label{
    display: block;
    color: white;
    font-size: 17px;
}
.checkout-page .checkout-form input,
.checkout-page .checkout-form select,
.checkout-page .checkout-form textarea{
    background: #bbb;
    color: black;
}
.checkout-page .checkout-form input,
.checkout-page .checkout-form select,
.checkout-page .checkout-form textarea{
    width: 101%;
    padding: 10px 5px;
}
#login_email, #login_password{
    background: #bbb;
    color: black;
    width: 120%;
    padding: 10px 5px;
    margin-bottom: 10px;
    margin-left:10px;
}
.label,
#btn-login{
    margin-left:10px;
}
.checkout-page .checkout-form input:focus,
.checkout-page .checkout-form select:focus,
.checkout-page .checkout-form textarea:focus{
    outline: 1px solid khaki; 
}
.checkout-page .form-inline{
    display: flex;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/*Checkout Page = Checkout Summary Styling*/
.order-summary{
    background: #13131a;
    width: 30%;
    height: 64%;
    margin-top: 30px;
    margin-right:20px;
    border: 1px solid khaki;
    padding: 5px;
}
.order-summary .checkout-total h3{
    color: black;
    background-color: khaki;
    text-transform: uppercase;
    padding: 10px;
}
.order-summary .checkout-total span{
    float: right;
}
.order-summary .checkout-total textarea{
    width: 100%;
    resize: none;
    font-size: 12px;
    background: khaki;
    padding: 5px;
    display: none;
}
.order-summary .checkut-total ul{
    list-style: none;
    padding: 10px;
}
.order-summary .checkout-total ul li{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    list-style: none;
}
.order-summary .checkout-total ul li a{
    color: white;
    background-color: khaki;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 5px 8px;
    margin-top: 20px;
    display: block;
}
.order-summary .checkout-total ul li a :hover{
    color: black;
    background-color: gray;
}
.order-summary .checkout-total ul li input[type="radio"]{
    width: 15px;
    height: 15px;
    position: relative;
    margin-right: 5px;
    outline: none;
    appearance: none;
}
.order-summary .checkout-total ul li input[type="radio"]:after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 2px;
    position: absolute;
    border: 1px solid rgba(236, 240, 241, 0.3);
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    background-clip: content-box;
}
.order-summary .checkout-total ul li input:checked[type="radio"]:after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 2px;
    position: absolute;
    background-color: khaki;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    background-clip: content-box;
}
.order-summary .checkout-total ul li input[type="submit"]{
    color: black;
    background: khaki;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 5px 8px;
    margin-top: 20px;
    margin-left: 10px;
    display: block;
    width: 180px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-color: 2px solid khaki;
    cursor: pointer;
}
.order-summary .checkout-total ul li input[type="submit"]:hover{
    color: white;
    background-color: #143941;
    letter-spacing:.1rem;
}
.submit-btn{
	cursor: pointer;
	width: 100px;
	height: 30px;
	color: #000 solid;
	background-color: khaki;
	margin-top: 10px;
	font-size: 15px;
	border-radius: 10px;
	transition: 0.4s ease;
	font-weight: bold;
}
.submit-btn:hover{
	background: #143941;
    color: #fff;
	letter-spacing:.1rem;
}
.login_title{
    color: khaki;
    font-weight: bold;
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 15px;
}
.link{
    margin-right: 500px;
    margin-top: 30px;
}
.signup{
    color: khaki;
}
img{
    top: 20px;
    left: 500px;
}
